# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
*.spec

# Virtual environment
venv/
.venv/
env/
.env/

apids

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env.local
.env.*.local

# PyInstaller
*.manifest

# Downloaded files
*.zip
*.exe

# Pixi
.pixi/*
!.pixi/config.toml
# pixi environments
.pixi/*
!.pixi/config.toml
